rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isPartner(userId) {
      return request.auth != null 
        && request.auth.uid == userId 
        && exists(/databases/$(database)/documents/partners/$(userId));
    }

    match /offer_images/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isPartner(userId);
    }
  }
}
