rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite utilizatorilor autentificați să scrie imagini de oferte doar în folderul lor.
    match /offer_images/{userId}/{allPaths=**} {
      allow read: if true; // Oricine poate citi imaginile ofertelor (pentru afișare în aplicație)
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
