@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 39 53% 93%;
    --foreground: 28 18% 20%;
    --card: 39 53% 93%;
    --card-foreground: 28 18% 20%;
    --popover: 39 53% 93%;
    --popover-foreground: 28 18% 20%;
    --primary: 13 70% 62%;
    --primary-foreground: 39 53% 98%;
    --secondary: 39 53% 88%;
    --secondary-foreground: 28 18% 20%;
    --muted: 39 53% 85%;
    --muted-foreground: 28 18% 40%;
    --accent: 39 77% 76%;
    --accent-foreground: 28 18% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 39 53% 80%;
    --input: 39 53% 85%;
    --ring: 13 70% 62%;
    --chart-1: 13 70% 62%;
    --chart-2: 39 77% 76%;
    --chart-3: 28 18% 40%;
    --chart-4: 13 70% 72%;
    --chart-5: 39 77% 86%;
    --radius: 0.5rem;
    --sidebar-background: 39 53% 90%;
    --sidebar-foreground: 28 18% 20%;
    --sidebar-primary: 13 70% 62%;
    --sidebar-primary-foreground: 39 53% 98%;
    --sidebar-accent: 39 53% 85%;
    --sidebar-accent-foreground: 28 18% 15%;
    --sidebar-border: 39 53% 80%;
    --sidebar-ring: 13 70% 62%;
  }
  .dark {
    --background: 28 15% 15%;
    --foreground: 39 53% 93%;
    --card: 28 15% 15%;
    --card-foreground: 39 53% 93%;
    --popover: 28 15% 15%;
    --popover-foreground: 39 53% 93%;
    --primary: 13 70% 62%;
    --primary-foreground: 39 53% 98%;
    --secondary: 28 15% 25%;
    --secondary-foreground: 39 53% 93%;
    --muted: 28 15% 25%;
    --muted-foreground: 39 53% 70%;
    --accent: 39 77% 76%;
    --accent-foreground: 28 18% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 15% 25%;
    --input: 28 15% 25%;
    --ring: 13 70% 62%;
    --chart-1: 13 70% 62%;
    --chart-2: 39 77% 76%;
    --chart-3: 39 53% 70%;
    --chart-4: 13 70% 52%;
    --chart-5: 39 77% 66%;
    --sidebar-background: 28 15% 18%;
    --sidebar-foreground: 39 53% 93%;
    --sidebar-primary: 13 70% 62%;
    --sidebar-primary-foreground: 39 53% 98%;
    --sidebar-accent: 28 15% 25%;
    --sidebar-accent-foreground: 39 53% 98%;
    --sidebar-border: 28 15% 25%;
    --sidebar-ring: 13 70% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
